tab1 {
    padding-left: 1em;
    padding-right: 1em;
  }

  tab2 {
    padding-top: 1em;
  }

  .text {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 12px;
    position: fixed;
    left : 290px;
    top : 7px
  }
  section {
    z-index: 1;
    position: relative;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear 5 reverse both;
	        animation: vibrate-1 0.3s linear 5 reverse both;
}

.content {
  background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 15%;
    margin-bottom: 0em;
    opacity: .97;
}

h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}


.navbar{
  background-color: #006e0b;
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

.worldcup{
  background-image: url('Pics/wc.jpg');
  height:160px;
  background-repeat: repeat;
  background-position: 16px 26px;

}

.worldcup p{
  font-size:12px;
  text-align: right;
  color: white;
  margin: 0em 0em;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

  /* Place the navbar at the bottom of the page, and make it stick */

  .bnavbar {
    background-color: #006e0b;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  

  /* Style the links inside the navigation bar */

  .bnavbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 7px 12px;
    text-decoration: none;
    font-size: 14px;
  }

  /* Change the color of links on hover */

  .bnavbar a:hover {
    background-color: #006e0b;
    color: #dd2228;
  }

  /* Add a color to the active/current link */

  .bnavbar a.active {
    background-color: #dd2228;
    color: white;
  }

  div.scrollmenu {

    background-color: #006e0b;
    opacity: .95;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    left: 0;
  }

  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
  }

  div.scrollmenu a:hover {
    background-color: #777;
  }

  section:nth-of-type(0) {
    height: 600px;
}
section:nth-of-type(1) {
    height: 750px;
}
section:nth-of-type(2) {
    height: 750px;
}
section:nth-of-type(3) {
    height: 750px;
}
section:nth-of-type(4) {
    height: 750px;
}
section:nth-of-type(5) {
  height: 750px;
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out infinite alternate both;
	        animation: kenburns-top 5s ease-out infinite alternate both;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out 1 both;
	        animation: heartbeat 1.5s ease-in-out 1 both;
}

.scale-in-tl {
	-webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2s infinite both;
	        animation: pulsate-fwd 2s infinite both;
}

.entered {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 16:24:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    25% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: .5;
      }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: .95;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    25% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: .5;
      }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: .95;
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2018-7-5 21:25:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
      background: #fff;
    }
    100% {
      background: #006e0bbe;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #fff;
    }
    100% {
      background: #006e0bbe;
    }
  }
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(.7);
              transform: scale(.7);
    }
    50% {
      -webkit-transform: scale(.8);
              transform: scale(.8);
    }
    100% {
      -webkit-transform: scale(.7);
              transform: scale(.7);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(.7);
              transform: scale(.7);
    }
    50% {
      -webkit-transform: scale(.8);
              transform: scale(.8);
    }
    100% {
      -webkit-transform: scale(.7);
              transform: scale(.7);
    }
  }
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @-webkit-keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  